<div class="row">
  <!-- Processor Info Form -->
  <div class="col-md-12">
    <form [formGroup]="processorInfo" class="step-container">
      <nb-card>
        <nb-card-header>1. Processor Information</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="batchId" class="label">Batch ID</label>
                <p>{{ newId }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="type" class="label"
                  >Traceability Information Type</label
                >
                <div>
                  <nb-select
                    [placeholder]="'Select'"
                    size="small"
                    formControlName="type"
                    [fullWidth]="true"
                  >
                    <nb-option value="ReceivedDelivery"
                      >Received Delivery</nb-option
                    >
                    <nb-option value="ProcessingInformation"
                      >Processing Information</nb-option
                    >
                  </nb-select>
                  <div
                    *ngIf="
                      processorInfo.get('type').invalid &&
                      processorInfo.get('type').touched
                    "
                    class="text-danger"
                  >
                    Traceability Information Type is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="processorName" class="label">Processor Name</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="processorName"
                  formControlName="processorName"
                  [status]="
                    processorInfo.get('processorName').invalid &&
                    processorInfo.get('processorName').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="processorInfo.get('processorName').markAsTouched()"
                />
                <div
                  *ngIf="
                    processorInfo.get('processorName').invalid &&
                    processorInfo.get('processorName').touched
                  "
                  class="text-danger"
                >
                  Processor Name is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="processorAddress" class="label"
                  >Processor Address</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="processorAddress"
                  formControlName="processorAddress"
                  [status]="
                    processorInfo.get('processorAddress').invalid &&
                    processorInfo.get('processorAddress').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="processorInfo.get('processorAddress').markAsTouched()"
                />
                <div
                  *ngIf="
                    processorInfo.get('processorAddress').invalid &&
                    processorInfo.get('processorAddress').touched
                  "
                  class="text-danger"
                >
                  Processor Address is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="latitude" class="label">Latitude</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="latitude"
                  formControlName="latitude"
                  disabled="true"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="longitude" class="label">Longitude</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="longitude"
                  formControlName="longitude"
                  disabled="true"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nameInCharge" class="label">Name in-charge</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="nameInCharge"
                  formControlName="nameInCharge"
                  [status]="
                    processorInfo.get('nameInCharge').invalid &&
                    processorInfo.get('nameInCharge').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="processorInfo.get('nameInCharge').markAsTouched()"
                />
                <div
                  *ngIf="
                    processorInfo.get('nameInCharge').invalid &&
                    processorInfo.get('nameInCharge').touched
                  "
                  class="text-danger"
                >
                  Name in-charge is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="nameInChargeContact" class="label"
                  >Name in-charge Contact</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="nameInChargeContact"
                  formControlName="nameInChargeContact"
                  [status]="
                    processorInfo.get('nameInChargeContact').invalid &&
                    processorInfo.get('nameInChargeContact').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    processorInfo.get('nameInChargeContact').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    processorInfo.get('nameInChargeContact').invalid &&
                    processorInfo.get('nameInChargeContact').touched
                  "
                  class="text-danger"
                >
                  Name in-charge Contact is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-6">
                  <button (click)="getUserLocation()" nbButton>
                    Update Coordinates
                  </button>
                </div>
                <div class="col-md-6">
                  <nb-alert status="warning" *ngIf="isLatLongSameAsPrevious">
                    Location updated. No changes detected.
                  </nb-alert>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Received Delivery Details Form -->
  <div
    class="col-md-12"
    *ngIf="shouldShowNextSection && shouldShowReceivedDeliveryForm"
  >
    <form [formGroup]="receivedDeliveryForm" class="step-container">
      <nb-card>
        <nb-card-header>2. Received Delivery Details</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="quantityReceived" class="label"
                  >Quantity Received</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="quantityReceived"
                  formControlName="quantityReceived"
                  [status]="
                    receivedDeliveryForm.get('quantityReceived').invalid &&
                    receivedDeliveryForm.get('quantityReceived').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    receivedDeliveryForm.get('quantityReceived').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('quantityReceived').invalid &&
                    receivedDeliveryForm.get('quantityReceived').touched
                  "
                  class="text-danger"
                >
                  Quantity Received is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="condition" class="label">Condition</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="condition"
                  formControlName="condition"
                  [status]="
                    receivedDeliveryForm.get('condition').invalid &&
                    receivedDeliveryForm.get('condition').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="receivedDeliveryForm.get('condition').markAsTouched()"
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('condition').invalid &&
                    receivedDeliveryForm.get('condition').touched
                  "
                  class="text-danger"
                >
                  Condition is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="temperatureUponArrival" class="label"
                  >Temperature Upon Arrival</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="temperatureUponArrival"
                  formControlName="temperatureUponArrival"
                  [status]="
                    receivedDeliveryForm.get('temperatureUponArrival')
                      .invalid &&
                    receivedDeliveryForm.get('temperatureUponArrival').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    receivedDeliveryForm
                      .get('temperatureUponArrival')
                      .markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('temperatureUponArrival')
                      .invalid &&
                    receivedDeliveryForm.get('temperatureUponArrival').touched
                  "
                  class="text-danger"
                >
                  Temperature Upon Arrival is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="truckId" class="label">Truck ID</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="truckId"
                  formControlName="truckId"
                  [status]="
                    receivedDeliveryForm.get('truckId').invalid &&
                    receivedDeliveryForm.get('truckId').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="receivedDeliveryForm.get('truckId').markAsTouched()"
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('truckId').invalid &&
                    receivedDeliveryForm.get('truckId').touched
                  "
                  class="text-danger"
                >
                  Truck ID is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="driverName" class="label">Driver Name</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="driverName"
                  formControlName="driverName"
                  [status]="
                    receivedDeliveryForm.get('driverName').invalid &&
                    receivedDeliveryForm.get('driverName').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    receivedDeliveryForm.get('driverName').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('driverName').invalid &&
                    receivedDeliveryForm.get('driverName').touched
                  "
                  class="text-danger"
                >
                  Driver Name is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="licensePlate" class="label">License Plate</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="licensePlate"
                  formControlName="licensePlate"
                  [status]="
                    receivedDeliveryForm.get('licensePlate').invalid &&
                    receivedDeliveryForm.get('licensePlate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    receivedDeliveryForm.get('licensePlate').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    receivedDeliveryForm.get('licensePlate').invalid &&
                    receivedDeliveryForm.get('licensePlate').touched
                  "
                  class="text-danger"
                >
                  License Plate is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <div
    class="col-md-12"
    *ngIf="shouldShowNextSection && !shouldShowReceivedDeliveryForm"
  >
    <form
      [formGroup]="wineProductionForm"
      (ngSubmit)="onSubmit()"
      class="step-container"
    >
      <nb-card>
        <nb-card-header>Crush Grapes</nb-card-header>
        <nb-card-body [formGroupName]="'crushGrapes'">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="dateCrushed" class="label">Date Crushed</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="dateCrushed"
                  formControlName="dateCrushed"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="method" class="label">Method</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="method"
                  formControlName="method"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="remarksCrush" class="label">Remarks</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="remarksCrush"
                  formControlName="remarks"
                />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Fermentation</nb-card-header>
        <nb-card-body [formGroupName]="'fermentation'">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="startDate" class="label">Start Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="startDate"
                  formControlName="startDate"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="endDate" class="label">End Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="endDate"
                  formControlName="endDate"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="temperatureRangeFermentation" class="label"
                  >Temperature Range</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="temperatureRangeFermentation"
                  formControlName="temperatureRange"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="sugarLevel" class="label">Sugar Level</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="sugarLevel"
                  formControlName="sugarLevel"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="yeastType" class="label">Yeast Type</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="yeastType"
                  formControlName="yeastType"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="carbonDioxideManagement" class="label"
                  >Carbon Dioxide Management</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="carbonDioxideManagement"
                  formControlName="carbonDioxideManagement"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="remarksFermentation" class="label">Remarks</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="remarksFermentation"
                  formControlName="remarks"
                />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Aging</nb-card-header>
        <nb-card-body [formGroupName]="'aging'">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="startDateAging" class="label">Start Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="startDateAging"
                  formControlName="startDate"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="endDateAging" class="label">End Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="endDateAging"
                  formControlName="endDate"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="containerType" class="label">Container Type</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="containerType"
                  formControlName="containerType"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="temperatureRangeAging" class="label"
                  >Temperature Range</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="temperatureRangeAging"
                  formControlName="temperatureRange"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="humidityLevel" class="label">Humidity Level</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="humidityLevel"
                  formControlName="humidityLevel"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="remarksAging" class="label">Remarks</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="remarksAging"
                  formControlName="remarks"
                />
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Remarks Form -->
  <div class="col-md-12" *ngIf="shouldShowNextSection">
    <form [formGroup]="remarks" class="step-container">
      <nb-card>
        <nb-card-header>3. Remarks</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="remarks" class="label">Remarks</label>
                <textarea
                  nbInput
                  fullWidth
                  id="laborDetails"
                  formControlName="remarks"
                ></textarea>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
<div class="button">
  <button
    (click)="clearForm()"
    nbButton
    status="danger"
    style="margin-right: 20px"
  >
    Clear
  </button>
  <button (click)="onSubmit()" nbButton status="primary">Submit</button>
</div>
