<nb-card *ngIf="hasBatchData">
  <nb-card-header>
    <h6>Batches</h6>
    <button
      nbButton
      [status]="'success'"
      hero
      (click)="openPromptPasswordDialog()"
    >
      Add New Batch <nb-icon icon="plus"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="hasCertData">
  <nb-card-header>
    <h6>Certifications</h6>
    <button
      nbButton
      [status]="'success'"
      hero
      (click)="openIssueCertComponent()"
    >
      Issue Certifications <nb-icon icon="plus"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="certSettings" [source]="certSource"> </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="hasActivitiesData">
  <nb-card-header>
    <h6>Activities</h6>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="activitySettings" [source]="activitySource">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
