:host ::ng-deep nb-accordion {
  margin-bottom: 20px;
}

:host ::ng-deep nb-stepper .header {
  margin-top: 10px;
}

:host ::ng-deep nb-layout-column {
  align-content: center;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.icon {
  margin-right: 20px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.right-text {
  font-weight: 300;
  margin-left: 5px;
}

.icon-left {
  margin-left: 5px;
}

.down-arrow {
  margin-bottom: 10px;
}
