<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">IotaTrack</a>
  </div>
  <nb-form-field>
    <input
      #input
      type="text"
      nbInput
      fullWidth
      fieldSize="medium"
      placeholder="Search..."
      [status]="status"
    />
    <button nbSuffix nbButton ghost (click)="callDetails(input)">
      <nb-icon [icon]="'search'" pack="eva"> </nb-icon>
    </button>
  </nb-form-field>
</div>

<div class="header-container">
  <button
    nbButton
    shape="round"
    size="small"
    nbPopover="Copied to clipboard!"
    nbPopoverPlacement="left"
    (click)="copyToClipboard()"
  >
    <nb-icon icon="copy"></nb-icon> {{ did }}
  </button>
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="user?.name"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
