<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <h6>Batch Details</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label">Batch ID</label>
          <div>{{ batchDetails?.batchId }}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label">Batch Created Date</label>
          <div>
            {{
              batchDetails?.metadata?.created | date : "dd MMM yyyy, hh:mm a"
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <qrcode
          [qrdata]="qrCode"
          [width]="200"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label">Batch Created By</label>
          <div>
            {{ batchDetails?.createdBy }}
          </div>
          <img src="{{ imageUrl }}" alt="Certified Organic" height="80px" />
        </div>
      </div>
      <div></div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail" class="label">Email</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputWebsite" class="label">Website</label>
        </div>
      </div>
    </div> -->
  </nb-card-body>
</nb-card>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <h6>Update Traceability Information</h6>
  </nb-card-header>
  <nb-card-body>
    <div class="button-container">
      <button
        nbButton
        status="primary"
        (click)="navigateToProcessorInformationPage()"
        [disabled]="batchDetails?.traceabilityInfo.length > 1"
      >
        Add Processor Information
      </button>
      <button
        nbButton
        status="primary"
        (click)="navigateToRetailerInformationPage()"
        [disabled]="batchDetails?.retailerTraceabilityInfo.length > 0"
      >
        Add Retailer Information
      </button>
      <button nbButton status="primary">Generate Wine Bottles QR Labels</button>
    </div>
  </nb-card-body>
</nb-card>
<nb-card size="large" class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <h6>Traceability Information</h6>
  </nb-card-header>
  <nb-card-body>
    <nb-stepper orientation="horizontal" class="mt-10">
      <nb-step label="Farmer">
        <label class="label">{{
          batchDetails?.metadata?.updated | date : "dd MMM yyyy, hh:mm a"
        }}</label>
        <nb-alert
          ><div class="test">
            <div style="max-width: 80%">
              {{ batchDetails?.harvestDetails?.remarks?.remarks }}
            </div>
            <button nbButton status="info" (click)="openWindow()">
              View Harvest Details
            </button>
          </div></nb-alert
        >
        <!-- <button nbButton disabled nbStepperNext>prev</button>
        <button nbButton nbStepperNext>next</button> -->
      </nb-step>
      <nb-step
        label="Processor"
        *ngIf="batchDetails?.traceabilityInfo.length > 0"
        ><div *ngFor="let info of batchDetails?.traceabilityInfo">
          <label class="label">{{
            info.activity[0].dateTime | date : "dd MMM yyyy, hh:mm a"
          }}</label>
          <nb-alert>
            <div class="test">
              <div style="max-width: 80%">
                {{ info.activity[0].message }}
              </div>
              <button nbButton status="info" (click)="openInfo(info)">
                View Information
              </button>
            </div>
          </nb-alert>
        </div></nb-step
      >
      <nb-step
        label="Retailer"
        *ngIf="batchDetails?.retailerTraceabilityInfo.length > 0"
      >
        <div *ngFor="let info of batchDetails?.retailerTraceabilityInfo">
          <label class="label">{{
            info.activity[0].dateTime | date : "dd MMM yyyy, hh:mm a"
          }}</label>
          <nb-alert>
            <div class="test">
              <div style="max-width: 80%">
                {{ info.activity[0].message }}
              </div>
              <button nbButton status="info" (click)="openInfo(info)">
                View Information
              </button>
            </div>
          </nb-alert>
        </div></nb-step
      >
    </nb-stepper>
  </nb-card-body>
</nb-card>
