:host ::ng-deep nb-stepper .step-content {
  width: 100%;
  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

:host ::ng-deep nb-stepper .header {
  margin-top: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
