<div class="row">
  <!-- Farm Info Form -->
  <div class="col-md-12">
    <form [formGroup]="farmInfo" class="step-container">
      <nb-card>
        <nb-card-header>1. Farm Info</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="farmName" class="label">Farm Name</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="farmName"
                  formControlName="farmName"
                  [status]="
                    farmInfo.get('farmName').invalid &&
                    farmInfo.get('farmName').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="farmInfo.get('farmName').markAsTouched()"
                />
                <div
                  *ngIf="
                    farmInfo.get('farmName').invalid &&
                    farmInfo.get('farmName').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="farmAddress" class="label">Farm Address</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="farmAddress"
                  formControlName="farmAddress"
                  [status]="
                    farmInfo.get('farmAddress').invalid &&
                    farmInfo.get('farmAddress').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="farmInfo.get('farmAddress').markAsTouched()"
                />
                <div
                  *ngIf="
                    farmInfo.get('farmAddress').invalid &&
                    farmInfo.get('farmAddress').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="latitude" class="label">Latitude</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="latitude"
                  formControlName="latitude"
                  disabled="true"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="longitude" class="label">Longitude</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="longitude"
                  formControlName="longitude"
                  disabled="true"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="farmerName" class="label">Farmer Name</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="farmerName"
                  formControlName="farmerName"
                  [status]="
                    farmInfo.get('farmerName').invalid &&
                    farmInfo.get('farmerName').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="farmInfo.get('farmerName').markAsTouched()"
                />
                <div
                  *ngIf="
                    farmInfo.get('farmerName').invalid &&
                    farmInfo.get('farmerName').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="farmerContact" class="label">Farmer Contact</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="farmerContact"
                  formControlName="farmerContact"
                  [status]="
                    farmInfo.get('farmerContact').invalid &&
                    farmInfo.get('farmerContact').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="farmInfo.get('farmerContact').markAsTouched()"
                />
                <div
                  *ngIf="
                    farmInfo.get('farmerContact').invalid &&
                    farmInfo.get('farmerContact').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-6">
                  <button (click)="getUserLocation()" nbButton>
                    Update Coordinates
                  </button>
                </div>
                <div class="col-md-6">
                  <nb-alert status="warning" *ngIf="isLatLongSameAsPrevious">
                    Location updated. No changes detected.
                  </nb-alert>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Vineyard Details Form -->
  <div class="col-md-12">
    <form [formGroup]="vineyardDetails" class="step-container">
      <nb-card>
        <nb-card-header>2. Vineyard Details</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="vineyardId" class="label">Vineyard ID</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="vineyardId"
                  formControlName="vineyardId"
                  [status]="
                    vineyardDetails.get('vineyardId').invalid &&
                    vineyardDetails.get('vineyardId').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="vineyardDetails.get('vineyardId').markAsTouched()"
                />
                <div
                  *ngIf="
                    vineyardDetails.get('vineyardId').invalid &&
                    vineyardDetails.get('vineyardId').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="grapeVariety" class="label">Grape Variety</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="grapeVariety"
                  formControlName="grapeVariety"
                  [status]="
                    vineyardDetails.get('grapeVariety').invalid &&
                    vineyardDetails.get('grapeVariety').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="vineyardDetails.get('grapeVariety').markAsTouched()"
                />
                <div
                  *ngIf="
                    vineyardDetails.get('grapeVariety').invalid &&
                    vineyardDetails.get('grapeVariety').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="plantingDate" class="label">Planting Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="plantingDate"
                  formControlName="plantingDate"
                  [status]="
                    vineyardDetails.get('plantingDate').invalid &&
                    vineyardDetails.get('plantingDate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="vineyardDetails.get('plantingDate').markAsTouched()"
                />
                <div
                  *ngIf="
                    vineyardDetails.get('plantingDate').invalid &&
                    vineyardDetails.get('plantingDate').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="soilType" class="label">Soil Type</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="soilType"
                  formControlName="soilType"
                  [status]="
                    vineyardDetails.get('soilType').invalid &&
                    vineyardDetails.get('soilType').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="vineyardDetails.get('soilType').markAsTouched()"
                />
                <div
                  *ngIf="
                    vineyardDetails.get('soilType').invalid &&
                    vineyardDetails.get('soilType').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Cultivation Practices Form -->
  <div class="col-md-12">
    <form [formGroup]="cultivationPractices" class="step-container">
      <nb-card>
        <nb-card-header>3. Cultivation Practices</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="irrigation" class="label">Irrigation</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="irrigation"
                  formControlName="irrigation"
                  [status]="
                    cultivationPractices.get('irrigation').invalid &&
                    cultivationPractices.get('irrigation').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices.get('irrigation').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('irrigation').invalid &&
                    cultivationPractices.get('irrigation').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fertilizationType" class="label"
                  >Fertilization Type</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="fertilizationType"
                  formControlName="fertilizationType"
                  [status]="
                    cultivationPractices.get('fertilizationType').invalid &&
                    cultivationPractices.get('fertilizationType').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices
                      .get('fertilizationType')
                      .markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('fertilizationType').invalid &&
                    cultivationPractices.get('fertilizationType').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fertilizationQuantity" class="label"
                  >Fertilization Quantity</label
                >
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="fertilizationQuantity"
                  formControlName="fertilizationQuantity"
                  [status]="
                    cultivationPractices.get('fertilizationQuantity').invalid &&
                    cultivationPractices.get('fertilizationQuantity').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices
                      .get('fertilizationQuantity')
                      .markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('fertilizationQuantity').invalid &&
                    cultivationPractices.get('fertilizationQuantity').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fertilizationDate" class="label"
                  >Fertilization Date</label
                >
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="fertilizationDate"
                  formControlName="fertilizationDate"
                  [status]="
                    cultivationPractices.get('fertilizationDate').invalid &&
                    cultivationPractices.get('fertilizationDate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices
                      .get('fertilizationDate')
                      .markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('fertilizationDate').invalid &&
                    cultivationPractices.get('fertilizationDate').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="pesticide" class="label">Pesticide</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="pesticide"
                  formControlName="pesticide"
                  [status]="
                    cultivationPractices.get('pesticide').invalid &&
                    cultivationPractices.get('pesticide').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="cultivationPractices.get('pesticide').markAsTouched()"
                />
                <div
                  *ngIf="
                    cultivationPractices.get('pesticide').invalid &&
                    cultivationPractices.get('pesticide').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="pesticideApplicationDate" class="label"
                  >Pesticide Application Date</label
                >
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="pesticideApplicationDate"
                  formControlName="pesticideApplicationDate"
                  [status]="
                    cultivationPractices.get('pesticideApplicationDate')
                      .invalid &&
                    cultivationPractices.get('pesticideApplicationDate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices
                      .get('pesticideApplicationDate')
                      .markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('pesticideApplicationDate')
                      .invalid &&
                    cultivationPractices.get('pesticideApplicationDate').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="compliance" class="label">Compliance</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="compliance"
                  formControlName="compliance"
                  [status]="
                    cultivationPractices.get('compliance').invalid &&
                    cultivationPractices.get('compliance').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    cultivationPractices.get('compliance').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    cultivationPractices.get('compliance').invalid &&
                    cultivationPractices.get('compliance').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="pruning" class="label">Pruning</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="pruning"
                  formControlName="pruning"
                  [status]="
                    cultivationPractices.get('pruning').invalid &&
                    cultivationPractices.get('pruning').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="cultivationPractices.get('pruning').markAsTouched()"
                />
                <div
                  *ngIf="
                    cultivationPractices.get('pruning').invalid &&
                    cultivationPractices.get('pruning').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Environmental Conditions Form -->
  <div class="col-md-12">
    <form [formGroup]="environmentalConditions" class="step-container">
      <nb-card>
        <nb-card-header>4. Environmental Conditions</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="weatherDate" class="label">Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="weatherDate"
                  formControlName="weatherDate"
                  [status]="
                    environmentalConditions.get('weatherDate').invalid &&
                    environmentalConditions.get('weatherDate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    environmentalConditions.get('weatherDate').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    environmentalConditions.get('weatherDate').invalid &&
                    environmentalConditions.get('weatherDate').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="temperature" class="label">Temperature</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="temperature"
                  formControlName="temperature"
                  [status]="
                    environmentalConditions.get('temperature').invalid &&
                    environmentalConditions.get('temperature').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    environmentalConditions.get('temperature').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    environmentalConditions.get('temperature').invalid &&
                    environmentalConditions.get('temperature').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="rainfall" class="label">Rainfall</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="rainfall"
                  formControlName="rainfall"
                  [status]="
                    environmentalConditions.get('rainfall').invalid &&
                    environmentalConditions.get('rainfall').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    environmentalConditions.get('rainfall').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    environmentalConditions.get('rainfall').invalid &&
                    environmentalConditions.get('rainfall').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="humidity" class="label">Humidity</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="humidity"
                  formControlName="humidity"
                  [status]="
                    environmentalConditions.get('humidity').invalid &&
                    environmentalConditions.get('humidity').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="
                    environmentalConditions.get('humidity').markAsTouched()
                  "
                />
                <div
                  *ngIf="
                    environmentalConditions.get('humidity').invalid &&
                    environmentalConditions.get('humidity').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Harvest Info Form -->
  <div class="col-md-12">
    <form [formGroup]="harvestInfo" class="step-container">
      <nb-card>
        <nb-card-header>5. Harvest Info</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="harvestDate" class="label">Harvest Date</label>
                <input
                  type="date"
                  nbInput
                  fullWidth
                  id="harvestDate"
                  formControlName="harvestDate"
                  [status]="
                    harvestInfo.get('harvestDate').invalid &&
                    harvestInfo.get('harvestDate').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="harvestInfo.get('harvestDate').markAsTouched()"
                />
                <div
                  *ngIf="
                    harvestInfo.get('harvestDate').invalid &&
                    harvestInfo.get('harvestDate').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="harvestMethod" class="label">Harvest Method</label>
                <input
                  type="text"
                  nbInput
                  fullWidth
                  id="harvestMethod"
                  formControlName="harvestMethod"
                  [status]="
                    harvestInfo.get('harvestMethod').invalid &&
                    harvestInfo.get('harvestMethod').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="harvestInfo.get('harvestMethod').markAsTouched()"
                />
                <div
                  *ngIf="
                    harvestInfo.get('harvestMethod').invalid &&
                    harvestInfo.get('harvestMethod').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="laborDetails" class="label">Labor Details</label>
                <textarea
                  nbInput
                  fullWidth
                  id="laborDetails"
                  formControlName="laborDetails"
                  [status]="
                    harvestInfo.get('laborDetails').invalid &&
                    harvestInfo.get('laborDetails').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="harvestInfo.get('laborDetails').markAsTouched()"
                ></textarea>
                <div
                  *ngIf="
                    harvestInfo.get('laborDetails').invalid &&
                    harvestInfo.get('laborDetails').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="yield" class="label">Yield (KG)</label>
                <input
                  type="number"
                  nbInput
                  fullWidth
                  id="yield"
                  formControlName="yield"
                  [status]="
                    harvestInfo.get('yield').invalid &&
                    harvestInfo.get('yield').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="harvestInfo.get('yield').markAsTouched()"
                />
                <div
                  *ngIf="
                    harvestInfo.get('yield').invalid &&
                    harvestInfo.get('yield').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Remarks Form -->
  <div class="col-md-12">
    <form [formGroup]="remarks" class="step-container">
      <nb-card>
        <nb-card-header>6. Remarks</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="remarks" class="label">Remarks</label>
                <textarea
                  nbInput
                  fullWidth
                  id="remarks"
                  formControlName="remarks"
                  [status]="
                    remarks.get('remarks').invalid &&
                    remarks.get('remarks').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="remarks.get('remarks').markAsTouched()"
                ></textarea>
                <div
                  *ngIf="
                    remarks.get('remarks').invalid &&
                    remarks.get('remarks').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>

  <!-- Post-Harvest Handling Form -->
  <div class="col-md-12">
    <form [formGroup]="postHarvestHandling" class="step-container">
      <nb-card>
        <nb-card-header>7. Post-Harvest Handling</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="remarks" class="label">Additional Remarks</label>
                <textarea
                  nbInput
                  fullWidth
                  id="remarks"
                  formControlName="remarks"
                  [status]="
                    postHarvestHandling.get('remarks').invalid &&
                    postHarvestHandling.get('remarks').touched
                      ? 'danger'
                      : 'basic'
                  "
                  (blur)="postHarvestHandling.get('remarks').markAsTouched()"
                ></textarea>
                <div
                  *ngIf="
                    postHarvestHandling.get('remarks').invalid &&
                    postHarvestHandling.get('remarks').touched
                  "
                  class="item text-danger"
                >
                  Field is required.
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>

<div class="button">
  <button
    (click)="clearForm()"
    nbButton
    status="danger"
    style="margin-right: 20px"
  >
    Clear
  </button>
  <button (click)="onSubmit()" nbButton status="primary">Submit</button>
</div>
